<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style2.css">
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Lista de Urls</title>
</head>
<body>
    <header class="navbar">
        <div class="container nav-container">
            <a href="index.html" class="logo">
                <img src="/static/assets/Logo_EncurtaJr2.png" alt="Logo EncurtarJR" class="logo-img">
            </a>
            <nav class="menu">
                {% if current_user.is_authenticated %}
                    <span class="user-hello">Olá, {{ current_user.username }}</span>
                    <a href="/logout" class="btn-nav btn-logout">Sair</a>
                {% else %}
                    <a href="/login" class="btn-nav btn-login">Login</a>
                    <a href="/register" class="btn-nav btn-register">Criar Conta</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Url original</th>
                    <th>Url Curta</th>
                    <th>Acessos</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                <tr>
                    <td>
                        <a href="{{ url.original_url }}" target="_blank">{{ url.original_url }}</a>
                    </td>

                    <td>
                        <a href="{{ url.short_code }}" target="_blank">{{ request.host_url }}{{ url.short_code }}</a>
                    </td>
                    
                    <td style="text-align: center;"> {{ url.click_count }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="ver-urls-container">
            <i class='bx bx-arrow-back'></i><p>Voltar para a página do <a href="/" class="ver-urls">Encurtador</a></p>
            
        </div>
    </main>

    <footer>
         <p>&copy; 2025 EncurtaJr. Todos os direitos reservados.</p>
        <p>Desenvolvido por <strong>Enio Jr</strong></p>
    </footer>
</body>
</html>